*{
    font-family: 'Arima Madurai', cursive;
    
}


.parallax{
    /* The image used */
    background-image: url(https://64.media.tumblr.com/737e34ae50e8dd56ed26260a5aabd501/fa577711d127a6a5-1c/s1280x1920/78531677933817453c532bf21ad504d1fa0a5b07.jpg);
   /* Full height */
   height: 100%; 

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-left: 10%;
   padding-top: 10%;
   padding-right: 5%;
}

h1{
    color: purple;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 3px grey;
    /* color: rgba(255, 255, 255, 0.808); */
}

p{
    font-size: 1.2rem;
}

#photo{
    height: 350px;
}

#about-block{
    height:360px;
    width:60vw;
    margin-left:3%;
    background-color: rgba(255, 255, 255, 0.808);
    font-size:36px
}